
*.iml
*.njsproj
*.ntvs*
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.sw?
.DS_Store
.env.*.local
.env.local
.idea
.idea/
.vscode
/dist
kafka-iris-data/target
kstreams-iris-classification/target
node_modules
npm-debug.log*
pnpm-debug.log*
target/
yarn-debug.log*
yarn-error.log*
